<h2>Title: <%= @case.title %></h2>
<%if @case.is_verified%>
<h5>Verified Case</h5>
<%end%>
<h6>Description: </h6>
<p><%= @case.description %></p>

<h6>Deadline: </h6>
<p><%= @case.deadline %></p>

<% if user_signed_in? %>
        <ul>
        <% if  @case.user_id == current_user.id %>
            <%= link_to "Edit", edit_case_path(@case), class: "btn btn-sm btn-outline-dark"%>
            <%= link_to "Destroy", case_path(@case), data: {
                                turbo_method: :delete}, class: "btn btn-sm btn-outline-dark" %>
        <%end%>

        <% if current_user.is_member and not @case.is_verified%>
            <a href="/verify/<%= @case.id %>">verify</a>
        <%end%>
        </ul>
        
        <h5>Comments</h5>
        <% @case.comments.each do |comment| %>
        <p>
            <strong>Commenter:</strong>
            <%= comment.commenter %>
        </p>

        <p>
            <strong>Comment:</strong>
            <%= comment.body %>
        </p>
        <%if comment.user_id == current_user.id%>
        <%# <p>Delete</p> %>
        <%= link_to "Delete Comment Comment", [comment.case, comment], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                }, class: 'btn btn-outline-dark btn-sm' %>
        <% end %>
        <% end %>
        
        
        <h5>Add a comment:</h5>
        <%= form_with model: [ @case, @case.comments.build ] do |form| %>
        <p>
            <%= form.label :commenter %><br>
            <%
            user_name = current_user.firstname
            if current_user.lastname
                user_name = user_name + " " + current_user.lastname
            end
            %>
            <%= form.text_field :commenter, :value => user_name, :readonly => true  %>
        </p>
        <p>
            <%= form.label :body %><br>
            <%= form.text_area :body %>
        </p>
        <%= form.hidden_field :user_id, :value => current_user.id %>

        <p>
            <%= form.submit class: 'btn btn-outline-dark btn-sm' %>
        </p>
        <% end %>
    
<% end %>




