<nav class="navbar  navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
      <%= image_tag("kaar-e-kamal-1.png", :alt => "rss feed", style: 'height:auto;width:100px;') %>
      
      </a>
      <%# <img src="/images/kaar-e-kamal-1.png" alt="rss feed" /> %>
    </div>
    
      <ul class="nav navbar-nav ">

        <% if user_signed_in? %>
        <li><%= link_to 'Create Case', new_case_path , class: "nav-link"  %></li>
        <li><%= link_to 'My Cases', cases_path , class: "nav-link"  %></li>
      
        <% if not current_user.is_member%>
        <li><a href="/member/new/<%= current_user.id %>", class= "nav-link"><%= "Become Member" %></a><li>
        <%# <li><%= link_to 'Become Member', member_new_path , class: "nav-link"  %></li> %>
        <% end %>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Profile</a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><%= link_to 'View', user_path(current_user.id), class: "nav-link text-dark"%></li>
            <li><%= link_to 'Edit Profile', edit_user_registration_path, class: "nav-link text-dark"%></li>
            <li><%= button_to 'Signout', destroy_user_session_path, method: :delete , class: "btn"  %></li>
          </ul>
        </li>
      
        <% else %>
            <li><%= link_to 'Events', events_path, class: 'nav-link' %></li>
            <li><%= link_to 'Register', new_user_registration_path, class: 'nav-link' %></li>
            <li><%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %></li>
        <% end %>

      </ul>
    <%# </div> %>
  </div>
</nav>
